Package: com.ryannair05.audiosnapshotserver
Name: AudioSnapshotServer
Version: 2.1.2
Architecture: iphoneos-arm
Description: A modified iOS mediaserverd hook to serve snapshots of current audio buffer via TCP/IP
Maintainer: Ryan Nair
Author: Ryan Nair and Nepeta
Section: Development
Replaces: io.ominousness.ass, me.conorthedev.audiosnapshotserver
Provides: io.ominousness.ass, me.conorthedev.audiosnapshotserver
